{% extends 'base.html' %}
{% load bootstrap %}

{% block sidebar %}
{% endblock %}

{% block conteudo %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
            {% if validlink %}
                <h2><center><strong>DEFINIR NOVA SENHA</center></strong></h2>
                <br>
                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input class="btn btn-primary" type="submit" value="OK">
                </form>
            {% else %}
                <p>O link de validação não é válido!</p>
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block rodape %}

{% endblock %}