{% extends 'base.html' %}
{% load bootstrap %}

{% block sidebar %}
{% endblock %}

{% block conteudo %}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card auth-card">
            <div class="card-body">
                <h2><center><strong>REDEFINIR SENHA</center></strong></h2>
                <br>
                <br>
                <h4>Esqueceu a senha?</h4>

                <p>Digite seu endereço de e-mail logo abaixo.</p>
                <br>
                <form method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <input class="btn btn-primary" type="submit" value="OK">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block rodape %}

{% endblock %}